@model List<Project>
@{
    ViewData["Title"] = "Projects";

    List<Project> Projects = Model;
    List<ProjectType> ProjectTypes = ViewBag.ProjectTypes;
    PagingInfo PagingInfo = ViewBag.PagingInfo;
}

<section id="page-title" class="text-center px-48 pt-12 pb-36">
    <h1>My Projects</h1>
    <h5 class="mt-4 text-gray-500">Explore a collection of my latest work and personal projects.</h5>
</section>

<section id="projects-list" class="bg-neutral-200 px-48 py-24">
    <div id="list-header" class="grid grid-cols-3 w-full gap-4">
        <div class="relative">
            <input id="projects-search" type="search" class="input-search w-full text-black" style="padding-left: 2rem;" oninput="Filter()" placeholder="Search projects...">
            <div class="absolute left-2 top-0 bottom-0 flex items-center text-gray-500"><i data-feather="search" class="h-4"></i></div>
        </div>
        <div id="list-filters" class="col-span-2 flex flex-row justify-end gap-2">
            <button data-project-type="All" class="project_types-item current" onclick="SetType(this)">All</button>
        @foreach (var ProjectType in ProjectTypes)
        {
            <button data-project-type="@ProjectType.Name" class="project_types-item" onclick="SetType(this)">@ProjectType.Name</button>
        }
        </div>
    </div>

    <div id="list-items" class="mt-12">
        <partial name="./_Projects.cshtml" for="@Model"></partial>
    </div>
</section>

@section Scripts
{

<script>
    var projectType = 'All';

    function Filter() {
        var data = {
            projectType: projectType,
            search: $('#projects-search').val()
        }

        $.ajax({
            url: '@Url.Action("Filter", "Projects")',
            method: 'POST',
            data: data,
            success: (response) => {
                $('#list-items').html(response);
                feather.replace();
            }
        });
    }

    function SetType(element) {
        NeutralTypes();

        projectType = element.dataset.projectType;
        Filter();

        element.classList.add('current');
    }

    function NeutralTypes() {
        var projectTypes = document.querySelectorAll('.project_types-item');
        projectTypes.forEach((type) => {
            type.classList.remove('current');
        })
    }

    function SetPage(element) {
        var pageNumber = element.dataset.pageNumber;
        var data = {
            projectType: projectType,
            search: $('#projects-search').val(),
            page: pageNumber
        };

        $.ajax({
            url: '@Url.Action("SetPage", "Projects")',
            data: data,
            success: (response) => {
                $('#list-items').html(response);
                feather.replace();
            }
        });

        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    }
</script>

}