<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GhazwulShaf</title>
    <script type="importmap"></script>

    <!-- Bootstrap CSS
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->

    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GhazwulShaf.styles.css" asp-append-version="true" />

    <!-- Summernote -->
    <link rel="stylesheet" href="~/lib/summernote/dist/summernote-lite.min.css" />
</head>

<body>

    <div id="dashboard-layout" class="w-full min-h-screen flex flex-row items-start">
        <div id="dashboard-sidebar" class="flex-none sticky top-0 min-h-screen z-40 overflow-y-auto flex flex-col items-center justify-between bg-gray-800 text-white pb-4">
            <div>
                <div class="flex gap-4">
                    <a id="dashboard-brand" href="@Url.Action("Index", "Home")" class="hidden xl:block px-2 sm:px-4 py-4">
                        <h4>GhazwulShaf</h4>
                        <span>@AuthUser.Role</span>
                    </a>
                    <button type="button" id="dashboard-navbar-menu-button" class="xl:hidden px-2 sm:px-4 py-4">
                        <i data-feather="menu" class="h-4 sm:h-5"></i>
                    </button>
                </div>

                @functions {
                    // function to get route and set nav active 
                    public string IsActive(string controller)
                    {
                        var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
                        if (currentController == controller)
                            return "active";
                        
                        return "";
                    }
                }
                <nav id="dashboard-navbar" class="w-full mb-24 flex flex-col items-stretch gap-0 *:px-2 *:sm:px-4 *:py-3 *:flex *:items-center *:gap-2">
                    <a href="@Url.Action("Index", "Dashboard")" class="@IsActive("Dashboard")">
                        <i data-feather="layout" class="h-4 sm:h-5"></i><span class="hidden xl:inline">Dashboard</span>
                    </a>
                    <a href="@Url.Action("Index", "DashboardMasterdata")" class="@IsActive("DashboardMasterdata")">
                        <i data-feather="file-text" class="h-4 sm:h-5"></i><span class="hidden xl:inline">Masterdata</span>
                    </a>
                    <a href="@Url.Action("Index", "DashboardAbout")" class="@IsActive("DashboardAbout")">
                        <i data-feather="user" class="h-4 sm:h-5"></i><span class="hidden xl:inline">About</span>
                    </a>
                    <a href="@Url.Action("Index", "DashboardProjects")" class="@IsActive("DashboardProjects")">
                        <i data-feather="code" class="h-4 sm:h-5"></i><span class="hidden xl:inline">Projects</span>
                    </a>
                    <a href="@Url.Action("Index", "DashboardContact")" class="@IsActive("DashboardContact")">
                        <i data-feather="phone" class="h-4 sm:h-5"></i><span class="hidden xl:inline">Contact</span>
                    </a>
                </nav>
            </div>
            
            <div class="w-full flex px-2 sm:px-4">
                <form id="auth-logout" name="auth-logout" method="post" action="@Url.Action("Logout", "Auth")" hidden></form>
                <button type="submit" form="auth-logout" id="dashboard-logout-button" class="grow flex items-center justify-center gap-2 xl:bg-black rounded-md py-3"><i data-feather="log-out" class="inline xl:hidden h-5"></i><span class="hidden xl:inline">Logout</span></button>
            </div>
        </div>
        
        <div id="content" class="flex-1 w-auto min-h-screen bg-gray-200">
            <header class="w-full bg-white px-2 sm:px-4 lg:px-12 py-2 sm:py-4">
                <h4>@ViewData["Title"]</h4>
            </header>

            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <!-- Feather Icons -->
    <script src="~/lib/feathericons\dist\js\feather.min.js"></script>
    <script>
        feather.replace();
    </script>

    <!-- Bootstrap CSS
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Summernote -->
    <script src="~/lib/summernote/dist/summernote-lite.min.js"></script>
    <script>
        $(document).ready(function() {
            // init summernote
            $('#summernote').summernote({
                placeholder: 'Write the contents in here',
                tabsize: 2,
                height: 480,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ],
                fontNames: ['Manrope'],
                fontNamesIgnoreCheck: ['Manrope'],
                addDefaultFonts: false,
            });
        })
    </script>

    <script>
        const dashboard = document.querySelector('#dashboard-layout');
        const sidebar = document.querySelector('#dashboard-sidebar');
        const navbarMenuButton = document.querySelector('#dashboard-navbar-menu-button');
        const navbar = document.querySelector('#dashboard-navbar');
        const brand = document.querySelector('#dashboard-brand');
        const logoutButton = document.querySelector('#dashboard-logout-button');
        const content = document.querySelector('#content');

        var sidebarWidth = sidebar.clientWidth;
        var contentMargin = 'ps-[' + sidebarWidth + 'px]';

        navbarMenuButton.addEventListener('click', () => {
            ToggleSidebar();
        });

        function ToggleSidebar() {
            content.classList.toggle('ps-[' + sidebarWidth + 'px]');
            sidebar.classList.toggle('sticky');
            sidebar.classList.toggle('fixed');
            brand.classList.toggle('hidden');
            const navbarItemsText = navbar.querySelectorAll('span');
            navbarItemsText.forEach((itemText) => {
                itemText.classList.toggle('hidden');
            })
            logoutButton.classList.toggle('bg-black');
            const logoutButtonText = logoutButton.querySelector('span');
            logoutButtonText.classList.toggle('hidden');
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
