@model Learn
@{
    Learn Learn = Model;
    Learn NextLearn = ViewBag.NextLearn ?? new Learn();
    List<Learn> LearnsSameType = ViewBag.LearnsSameType;

    ViewData["Title"] = Learn.Title;
}

<div class="px-4 sm:px-12 lg:px-24 2xl:px-48 pt-6 lg:pt-12 pb-12 lg:pb-24 xl:pb-36">

    <div id="detail-header" class="mb-8">
        <a asp-action="Index" asp-controller="Learn" class="flex items-center gap-1">
            <i data-feather="arrow-left" class="inline h-4"></i>
            <span>Back to Learn Modules List</span>
        </a>
    </div>

    <div id="detail-project">

        <div id="project-header" class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-8">

            <div id="project-header-left" class="2xl:col-span-2">

                <div id="project-title">
                    <h1>@Learn.Title</h1>
                </div>

                <div id="project-type">
                    <span class="text-gray-500">@Learn.Type</span>
                </div>

                <div id="project-description" class="text-justify mt-4">@Learn.Description</div>

                <div id="project-tags" class="mt-4 flex flex-row items-center gap-2">
                @foreach (var Tag in Learn.Tags)
                {
                    <span class="tag">@Tag.Name</span>
                }
                </div>

            </div>

            <div id="project-header-right" class="order-first lg:order-last">
                <div id="project-image" class="relative w-full aspect-[16/9] bg-cover bg-center rounded-md bg-gray-200"
                    style="background-image: url('@Learn.Thumbnail');"
                ></div>
            </div>
        </div>

        <div class="grid grid-cols-1 xl:grid-cols-3 gap-4 [&_ul]:list-inside [&_ul]:list-disc [&_ol]:list-inside [&_ol]:list-decimal mt-12">

            <div id="project-content" class="xl:col-span-2"></div>

            <div id="project-side" class="border-t xl:border-t-0 xl:border-s pt-4 xl:pt-0 xl:ps-4 *:mt-8">
            @if (ViewBag.NextLearn != null)
            {
                <div class="first:mt-0">
                    <div class="text-lg font-semibold">Next Learn</div>
                    <div class="grid grid-cols-1 gap-3 mt-2">
                        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-2 2xl:grid-cols-3 gap-2">
                            <div class="relative aspect-video bg-cover bg-center bg-gray-200"
                                style="background-image: url('@NextLearn.Thumbnail');"
                            ></div>
                            <a asp-action="Details" asp-controller="Projects" asp-route-id="@NextLearn.Id" class="sm:col-span-2 lg:col-span-3 xl:col-span-1 2xl:col-span-2">@NextLearn.Title</a>
                        </div>
                    </div>
                </div>
            }

                <div class="first:mt-0">
                    <div class="text-lg font-semibold">@Learn.Type</div>
                    <div class="grid grid-cols-1 gap-3 mt-2">
                    @foreach (var LearnSameType in LearnsSameType)
                    {
                        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-2 2xl:grid-cols-3 gap-2">
                            <div class="relative aspect-video bg-cover bg-center bg-gray-200"
                                style="background-image: url('@LearnSameType.Thumbnail');"
                            ></div>
                            <a asp-action="Details" asp-controller="Learn" asp-route-id="@LearnSameType.Id" class="sm:col-span-2 lg:col-span-3 xl:col-span-1 2xl:col-span-2">@LearnSameType.Title</a>
                        </div>
                    }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(() => {
            fetch('@Learn.ContentFile')
                .then(response => response.text())
                .then(data => $('#project-content').html(data))
                .catch(error => console.error('Error content: ', error));
        })
    </script>
}