@model Contact
@{
    ViewData["Title"] = "Contact Me";
}

<div id="contact" class="grid grid-cols-2 gap-8 px-48 pt-12 pb-36">
    <div id="contact-left" class="w-full">

        <div id="contact-title">
            <h1>@Model.Title</h1>
        </div>

        <div id="contact-subtitle" class="mt-8">
            @Html.Raw(Model.Description)
        </div>

        <div id="contact-list" class="flex flex-col gap-2 mt-4">
            <div id="contact-email">
                <i data-feather="mail" class="inline"></i>
                <span class="ms-2">@Model.Email</span>
            </div>

            <div id="contact-phone">
                <i data-feather="phone" class="inline"></i>
                <span class="ms-2">@Model.Phone</span>
            </div>

            <div id="contact-address">
                <i data-feather="map-pin" class="inline"></i>
                <span class="ms-2">@Model.Address</span>
            </div>
        </div>

        <div id="contact-social" class="mt-12">
        @foreach (var Link in Model.Links)
        {
            <a title="@Link.Name" href="@Link.Url" class="card"><i data-feather="@Link.Icon" class="inline"></i></a>
        }
        </div>
    </div>

    <div id="contact-right" class="w-full">
        <div class="card">
            <div class="card-title">
                <span>Send a Message</span>
            </div>

            <div class="card-subtitle">
                <p>
                    Fill out the form below and I'll get back to you as soon as possible.
                </p>
            </div>

            <div id="contact-form" class="card-body mt-4">
                <form>
                    <!-- name -->
                    <div id="form-name">
                        <label for="name" class="label">Name</label>
                        <input type="text" name="name" id="name" class="input mt-2" placeholder="Your name">
                    </div>

                    <!-- email -->
                    <div id="form-email" class="label mt-4">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="input mt-2" placeholder="Your email">
                    </div>

                    <!-- messsage -->
                    <div id="form-message" class="label mt-4">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="3" class="input mt-2" placeholder="Your message"></textarea>
                    </div>

                    <!-- submit -->
                    <button type="submit" class="button button-dark mt-4 mb-8">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>