@{
    ViewData["Title"] = "Home Page";

    var AboutDescription = ViewBag.AboutDescription;
    List<Project> Projects = ViewBag.Projects;
}

<div id="home" class="*:px-4 *:sm:px-12 *:lg:px-24 *:2xl:px-48">

    <section id="welcome" class="text-center pt-6 sm:pt-12 lg:pt-36 pb-24 lg:pb-60">
        <div><code class="text-4xl sm:text-5xl lg:text-6xl font-bold">Hi, I'm Ghazwul Shaf</code></div>
        <div class="mt-4"><code class="text-lg sm:text-xl lg:text-2xl text-gray-500">A passionate .NET Developer, Internet of Things, and Artificial Intelligence</code></div>
        <div class="flex flex-col sm:flex-row sm:justify-center gap-4 mt-16">
            <a class="btn btn-dark" asp-controller="Projects" asp-action="Index">View Projects</a>
            <a class="btn btn-light" asp-controller="Contact" asp-action="Index">Contact Me</a>
        </div>
    </section>

    <section id="about" class="text-center sm:text-left px-4 sm:px-12 lg:px-24 2xl:px-48 py-12 sm:py-24 bg-neutral-200">
        <div>
            <h1 class="font-body">About Me</h1>
            <div class="mt-6 sm:mt-8">@Html.Raw(AboutDescription)</div>
        </div>
    </section>

    <section id="projects" class="text-center sm:text-left pt-12 sm:pt-24 pb-24 sm:pb-48">
        <div>
            <h1>My Projects</h1>
            <!-- Projects lists -->
            <div class="mt-12 grid grid-cols-1 lg:grid-cols-3 gap-4">
            @foreach (var Project in Projects)
            {
                <div class="card bg-white text-left">
                    <a asp-controller="Projects" asp-action="Details" asp-route-id="@Project.Id" class="block">
                        <div class="relative w-full aspect-[16/9] rounded-sm bg-gray-200 bg-cover bg-center"
                            style="background-image: url('@Project.Thumbnail');"
                        ></div>
                        <h6 class="mt-4">@Project.Title</h6>
                    </a>
                    
                    <div class="text-gray-900">
                        <small>@Project.Type</small>
                    </div>

                    <div class="line-clamp-2 sm:text-justify mt-2">@Project.Description</div>

                    <div class="flex gap-2 text-xs mt-4 *:bg-gray-200 *:text-gray-900 *:rounded-sm *:py-1 *:px-2">
                    @foreach (var Tag in Project.Tags)
                    {
                        <div>@Tag.Name</div>
                    }
                    </div>
                </div>
            }
        </div>
    </section>

</div>