@model Project
@{
    Layout = "_LayoutDashboard";
    ViewData["Title"] = Model.Title ?? "Add Project";

    var tagsCount = Model.Tags.Any() ? Model.Tags.Count : 0;
}

<div class="px-12 py-4 *:mt-4">
    <div class="card first:mt-0">
        <a asp-action="Index" asp-controller="DashboardProjects" class="flex w-fit items-center"><i data-feather="arrow-left" class="inline h-4"></i> Back</a>
    </div>

    <div class="card">
        <form method="post" asp-action="@ViewData["FormAction"]" asp-controller="DashboardProjects" asp-route-id="@Model.Id" enctype="multipart/form-data" class="*:mt-4">
            <input type="hidden" asp-for="Id">
            
            <div class="first:mt-0">
                <label asp-for="Title" class="label">Title:</label>
                <input type="text" asp-for="Title" class="input" placeholder="Project title..." autofocus>
                <span asp-validation-for="Title" class="text-sm text-red-500"></span>
            </div>

            <div>
                <label class="label">Thumbnail:</label>
                <input type="file" id="thumbnail-input" name="thumbnailFile" accept="image/*" class="input">
                <input type="hidden" asp-for="Thumbnail">
                <img id="thumbnail-show" src="@Model.Thumbnail" alt="thumbnail" class="w-96 mt-2">
            </div>

            <div>
                <label asp-for="Type" class="label">Type:</label>
                <select asp-for="Type" class="input">
                    <option value="" disabled selected>-- Select Type --</option>
                    <option value="">Website</option>
                </select>
            </div>

            <div>
                <label class="label">Tags:</label>
                <input type="text" id="tags-input" class="input" placeholder="Type tag...">

                <div id="tags-items" class="flex gap-2 mt-2">
                @foreach (var Tag in Model.Tags)
                {
                    ViewBag.State = "Show";
                    ViewBag.ItemId = Tag.Id;
                    ViewBag.ItemName = Tag.Name;
                    <partial name="./_Tag.cshtml" for="@Model"></partial>
                }
                </div>
            </div>

            <div>
                <label asp-for="Contents" class="label">Contents:</label>
                <textarea asp-for="Contents" id="summernote"></textarea>
            </div>

            <div class="flex justify-center gap-2 last:mt-8 mb-4">
                <button type="submit" class="button button-dark">@ViewData["Button"]</button>
                <a href="@Url.Action("Index", "DashboardProjects")" role="button" class="button button-light">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        feather.replace();

        $(document).ready(() => {
            $('#summernote').summernote({
                height: 600
            });
        })
    </script>

    <script>
        $(document).ready(() => {
            $('#thumbnail-input').change((event) => {
                const file = event.target.files[0];
                const imageShow = document.querySelector('#thumbnail-show');

                if (file) {
                    const reader = new FileReader();

                    reader.onload = (e) => {
                        imageShow.src = e.target.result;
                    }

                    reader.readAsDataURL(file);
                }
            })

            var itemId = @tagsCount;

            $('#tags-input').keypress((e) => {
                if (e.key === 'Enter') {
                    e.preventDefault();

                    var itemName = $('#tags-input').val();
                    var data = {
                        itemId: itemId++,
                        itemName: itemName
                    };

                    $.ajax({
                        url: '@Url.Action("AddTag", "DashboardProjects")',
                        type: 'GET',
                        data: data,
                        success: (response) => {
                            $('#tags-items').append(response);
                            $('#tags-input').val('');
                        }
                    });
                }
            })
        })
    </script>

    <script>
        function DeleteTag(elementId) {
            const tag = document.querySelector('#' + elementId);
            const name = document.querySelector('#' + elementId + '-Name');

            tag.remove();
            name.value = null;
        }
    </script>
}